/* home */
@use '../abstracts/index';

body {
    font-family: 'Petrona', serif;
    padding: 1em;
    display: grid;
}

.container {
    max-width: 80ch;
    margin: 8vh auto;
}

svg {
    width: 1em;
}

:is(h1, h2, h3) {
    line-height: 1.2;
}

